<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <meta charset="UTF-8">




</head>

<body>



<header>
  <div>
    <span>ChemoDOTS</span>
    <span>Growing Mode</span>
  </div>

</header>

<div id="main">

  <div id="left" > <!-- left part-->

    <div id="sketcher" style="width:100%">
      <h2><i class="fas fa-pen-square"></i> Sketcher</h2>
      <div id="marvin-test" style="width: 100%; height: 600px"></div>
      <input id="validate-button" type="button" (click)="ValidateMol()" name="generateMol" value="Validate" class="btnFormSettings"
             onmouseover="return overlib (' Click here to validate your molecule',HAUTO, VAUTO);" onmouseout="return nd ();">
    </div>



  </div> <!-- end left-->

  <Br> <Br>


  <div id="right">

    <fieldset id="struct">

      <h2><i class="fab fa-react"></i> Structure</h2>


      <h3 onmouseover="return overlib (' Type the name of the fragment ',HAUTO, VAUTO);" onmouseout="return nd ();" > Name (optional)</h3>
      <input type="text" id="name" placeholder="Type the name of the molecule" size="30">


      <h3 onmouseover="return overlib (' The smiles of the fragment drawn in the sketcher will automatically appear in the textbox ',HAUTO, VAUTO);" onmouseout="return nd ();">Smiles</h3>
      <form method="POST" action="PHP/displayReactions.php" id="formSmiles" class="smiles">

        <input type="text" id="smilesMolecule" name="smilesMolecule" size="30" placeholder="Paste or write the SMILES"  [(ngModel)]="this.smile" class="fieldSMILES" form="formSmiles"
               onmouseover="return overlib (' Paste your molecule in SMILES format ',HAUTO, VAUTO);" onmouseout="return nd ();">

        <input type="button" (click)="ValidateMol()" name="generateMol" value="Generate molecule in sketcher" class="btnFormSettings"
               onmouseover="return overlib (' Click here and the smiles will be automatically drawn in the sketcher ',HAUTO, VAUTO);" onmouseout="return nd ();">

      </form>
    </fieldset>



    <Br> <Br>



    <fieldset id="reactions">


      <h2><i class="fas fa-vial"></i>
        Set of available reaction rules
        <i id="Fleche1" class="fas fa-caret-down" (click)="ShowReactions(3)"></i>
      </h2>

      <div id="reac" style="display:none">

        <h3 onmouseover="return overlib (' Select the reaction rules to activate during the virtual synthesis stage (1-5 reactions is advised)',HAUTO, VAUTO);" onmouseout="return nd ();"> Reaction rules </h3>
        <i class="fas fa-info-circle" onmouseover="return overlib (' Click here for more information about reaction rules ',HAUTO, VAUTO);"
           onmouseout="return nd ();" onclick='window.location.href="http://chemodots.marseille.inserm.fr/static/dots-reactions.html";'></i><Br><Br>

        <div id="scroll" style="overflow-y:scroll; height:150px; background:#D5E9EB">

          <input type="checkbox" id="c01" name="rules" value="5" ><label >Rule 01</label><br>
          <input type="checkbox" id="c02" name="rules" value="5" ><label >Rule 02</label><br>
          <input type="checkbox" id="c03" name="rules" value="5" ><label >Rule 03</label><br>
          <input type="checkbox" id="c04" name="rules" value="5" ><label >Rule 04</label><br>
          <input type="checkbox" id="c05" name="rules" value="5" ><label >Rule 05</label><br>
          <input type="checkbox" id="c06" name="rules" value="5" ><label >Rule 06</label><br>
          <input type="checkbox" id="c07" name="rules" value="5" ><label >Rule 07</label><br>
          <input type="checkbox" id="c08" name="rules" value="5" ><label >Rule 08</label><br>
          <input type="checkbox" id="c09" name="rules" value="5" ><label >Rule 09</label><br>
          <input type="checkbox" id="c10" name="rules" value="5" ><label >Rule 10</label><br>
          <input type="checkbox" id="c11" name="rules" value="5" ><label >Rule 11</label><br>
          <input type="checkbox" id="c12" name="rules" value="5" ><label >Rule 12</label><br>
          <input type="checkbox" id="c13" name="rules" value="5" ><label >Rule 13</label><br>
          <input type="checkbox" id="c14" name="rules" value="5" ><label >Rule 14</label><br>
          <input type="checkbox" id="c15" name="rules" value="5" ><label >Rule 15</label><br>
          <input type="checkbox" id="c16" name="rules" value="5" ><label >Rule 16</label><br>
          <input type="checkbox" id="c17" name="rules" value="5" ><label >Rule 17</label><br>
          <input type="checkbox" id="c18" name="rules" value="5" ><label >Rule 18</label><br>
          <input type="checkbox" id="c19" name="rules" value="5" ><label >Rule 19</label><br>
          <input type="checkbox" id="c20" name="rules" value="5" ><label >Rule 20</label><br>
          <input type="checkbox" id="c21" name="rules" value="5" ><label >Rule 21</label><br>
          <input type="checkbox" id="c22" name="rules" value="5" ><label >Rule 22</label><br>
          <input type="checkbox" id="c23" name="rules" value="5" ><label >Rule 23</label><br>
          <input type="checkbox" id="c24" name="rules" value="5" ><label >Rule 24</label><br>
          <input type="checkbox" id="c25" name="rules" value="5" ><label >Rule 25</label><br>
          <input type="checkbox" id="c26" name="rules" value="5" ><label >Rule 26</label><br>
          <input type="checkbox" id="c27" name="rules" value="5" ><label >Rule 27</label><br>
          <input type="checkbox" id="c28" name="rules" value="5" ><label >Rule 28</label><br>
          <input type="checkbox" id="c29" name="rules" value="5" ><label >Rule 29</label><br>
          <input type="checkbox" id="c30" name="rules" value="1" checked><label>Rule 30 (reductive amination)</label><br>
          <input type="checkbox" id="c31" name="rules" value="2" checked><label>Rule 31 (suzuki)</label><br>
          <input type="checkbox" id="c32" name="rules" value="5" ><label >Rule 32</label><br>
          <input type="checkbox" id="c33" name="rules" value="5" ><label >Rule 33</label><br>
          <input type="checkbox" id="c34" name="rules" value="5" ><label >Rule 34</label><br>
          <input type="checkbox" id="c35" name="rules" value="5" ><label >Rule 35</label><br>
          <input type="checkbox" id="c36" name="rules" value="5" ><label >Rule 36</label><br>
          <input type="checkbox" id="c37" name="rules" value="5" ><label >Rule 37</label><br>
          <input type="checkbox" id="c38" name="rules" value="5" ><label >Rule 38</label><br>
          <input type="checkbox" id="c39" name="rules" value="5" ><label >Rule 39</label><br>
          <input type="checkbox" id="c40" name="rules" value="5" ><label >Rule 40</label><br>
          <input type="checkbox" id="c41" name="rules" value="5" ><label >Rule 41</label><br>
          <input type="checkbox" id="c42" name="rules" value="5" ><label >Rule 42</label><br>
          <input type="checkbox" id="c43" name="rules" value="5" ><label >Rule 43</label><br>
          <input type="checkbox" id="c44" name="rules" value="5" ><label >Rule 44</label><br>
          <input type="checkbox" id="c45" name="rules" value="5" ><label >Rule 45</label><br>
          <input type="checkbox" id="c46" name="rules" value="5" ><label >Rule 46</label><br>
          <input type="checkbox" id="c47" name="rules" value="3" checked><label >Rule 47 (schotten baumann)</label><br>
          <input type="checkbox" id="c48" name="rules" value="4" checked><label>Rule 48 (sulfonamide)</label><br>
          <input type="checkbox" id="c49" name="rules" value="5" ><label >Rule 49</label><br>
          <input type="checkbox" id="c50" name="rules" value="5" ><label >Rule 50</label><br>
          <input type="checkbox" id="c51" name="rules" value="5" checked><label >Rule 51 (buchwald hartwig)</label><br>
          <input type="checkbox" id="c52" name="rules" value="5" ><label >Rule 52</label><br>
          <input type="checkbox" id="c53" name="rules" value="5" ><label >Rule 53</label><br>
          <input type="checkbox" id="c54" name="rules" value="5" ><label >Rule 54</label><br>
          <input type="checkbox" id="c55" name="rules" value="5" ><label >Rule 55</label><br>
          <input type="checkbox" id="c56" name="rules" value="5" ><label >Rule 56</label><br>
          <input type="checkbox" id="c57" name="rules" value="5" ><label >Rule 57</label><br>
          <input type="checkbox" id="c58" name="rules" value="5" ><label >Rule 58</label><br>

        </div>


        <h3 onmouseover="return overlib (' Select a function to highlight it in the sketcher',HAUTO, VAUTO);" onmouseout="return nd ();"> Functions </h3>


         <div id="Question_Function" style="display:none">
           <h3>Do you know the activated (targeted) function on your molecule ?</h3><br>
           <input id="ButtonYes" type="button" (click)="SetInputActive()"  value="Yes" class="btnFormSettings">
           <input id="ButtonNo" type="button" (click)="LaunchPytonFindFunction()" value="No" class="btnFormSettings"><br>
         </div>
        <div id="InputForFunction" style="display:none">
          <input type="text" id="Function name" size="30" placeholder="Your targeted Function" value="">
          <input type="button" (click)="Check_Function()" value="Validate" class="btnFormSettings" style="margin-left: 10px">
        </div>
        <div id="scroll2" style="overflow-y:scroll; height:150px; background:#D5E9EB;display:none">
          <label style="color:red">Choose the targeted function, if you have changed your molecule, please click again on the Validate button.</label>
          <div *ngFor = "let n of Detected_Functions">
          <input type="radio" (click) = "Higlightfunction(0,n.Position,n.Bonds)" name="chemfunction" id={{n.Name}} style="font-family:verdana;font-weight:600;height:30px;font-size:0.8rem;">
          <label>{{n.Name}}</label>

          </div>
        </div>
        <Br> <Br>





      </div> <!--end reactionRules -->

    </fieldset> <!-- end reactions-->

    <Br> <Br>

    <fieldset id="substructures">

      <h2><i class="fas fa-dna"></i>
        Substructures

        <i id="Fleche2" class="fas fa-caret-down" (click)="ShowSub()"></i>
      </h2>

      <div id="sub" style="display:none">

        <h3 onmouseover="return overlib(' At least 1. Compounds that contain at least 1 of these substructures will be kept for subsequent stages. Explicit hydrogen or SMARTS patterns can also be used.',HAUTO, VAUTO, WIDTH,300,BGCOLOR,'#4B4BF2',BORDER,2,CAPTION,'Paste required substructures',CELLPAD,3,CAPCOLOR,'#FFFFFF',TEXTCOLOR,'#000000',TEXTSIZE,2,TEXTFONT,'Courier New',CAPTIONFONT,'Courier New-bold',CAPTIONSIZE,3,CENTER, );" onmouseout="return nd();" width="70%" > Required substructures</h3>
        <input type="text" id="required" placeholder="Paste or write" size="50">



        <h3 onmouseover="return overlib(' Compounds that contain at least 1 of these substructures will be discarded.',HAUTO, VAUTO, WIDTH,300,BGCOLOR,'#4B4BF2',BORDER,2,CAPTION,'Paste undesired substructures (optional)',CELLPAD,3,CAPCOLOR,'#FFFFFF',TEXTCOLOR,'#000000',TEXTSIZE,2,TEXTFONT,'Courier New',CAPTIONFONT,'Courier New-bold',CAPTIONSIZE,3,CENTER, );" onmouseout="return nd();" width="70%" > Undesired substructures</h3>
        <input type="text" id="undesired" placeholder="Paste or write" size="50">



      </div> <!--end sub-->

    </fieldset> <!-- end substructures-->





    <Br> <Br>

    <fieldset id="settings">

      <h2><i class="fas fa-cog"></i>
        Additional settings

        <i id="Fleche3" class="fas fa-caret-down" (click)="ShowSett()"></i>
      </h2>

      <div id="sett" style="display:none">

        <h3 onmouseover="return overlib (' Define the reaction mode',HAUTO, VAUTO);" onmouseout="return nd ();"> Reaction mode</h3>

        <select>
          <option value="default" selected>Default</option>
          <option value="strict">Strict</option>
        </select>


        <h3 onmouseover="return overlib (' Define the library of building blocks (BBs)',HAUTO, VAUTO);" onmouseout="return nd ();">Building blocks database</h3>

        <select>
          <option value="standard" selected>Standard</option>
          <option value="large">Large</option>
          <option value="test">Test</option>
        </select>

      </div> <!-- end sett -->

    </fieldset> <!-- end settings-->




    <Br> <Br>

    <input type="button" class="exec" name="exec" value="Execute"
           onmouseover="return overlib (' Send to Galaxy ChemoDOTS',HAUTO, VAUTO);" onmouseout="return nd ();">




  </div> <!-- end right-->



  </div> <!-- end main ?-->

</body>
</html>

