<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

<nav >

  <span>ChemoDOTS</span>
  <span>Growing Mode</span>
  <span>Linking Mode</span>

</nav>

<div id="main">

  <div id="growing">
    <a  (click) = "on_click_Growing()" >
      <i class="fas fa-flask fa-10x" style="margin-left: 2% "></i></a>

<h2 onmouseover="return overlib ('',BACKGROUND,'assets/img/growing.png',WIDTH,650,HEIGHT,334,HAUTO, VAUTO);" onmouseout="return nd ();" style="color:#FF0000;position: absolute;">What is growing?</h2>


  </div>

  <div id="linking">
    <a (click) = "on_click_Linking()">
      <i class="fas fa-vials fa-10x"></i></a>

    <h2 onmouseover="return overlib ('',BACKGROUND,'assets/img/linking.png',WIDTH,650,HEIGHT,494,HAUTO, VAUTO);"onmouseout="return nd ();" style="color:#FF0000;position: absolute;margin-left: 1%">What is linking?</h2>

  </div>


</div>
</body>


</html>

