<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

<nav >

  <span>ChemoDOTS</span>
  <span>Growing Mode</span>
  <span>Linking Mode</span>

</nav>

<div id="main">

  <div id="growing">
    <a  (click) = "on_click_Growing()" >
      <i class="fas fa-flask fa-10x"></i></a>

    <a class="image-link" href="img/growing.png" (click) = "Afficher_image()" style="color:#FF0000;"><h2>What is growing?</h2></a>


  </div>

  <div id="linking">
    <a (click) = "on_click_Linking()">
      <i class="fas fa-vials fa-10x"></i></a>

    <a class="image-link" href="img/linking.png" style="color:#FF0000;"><h2>What is linking?</h2></a>

  </div>


</div>
</body>


</html>

